@use 'primeicons/primeicons.css';
@use 'tailwindcss';
@layer tailwind, primeng;
@plugin 'tailwindcss-primeui';
@custom-variant dark (&:where(.vs-app-dark, .vs-app-dark *)); //dark mode configuration
@layer tailwind, primeng;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.p-toast {
  max-width: calc(100vw - 40px);
}
